/*selector universal*/
*
{
    box-sizing: border-box;
}
.contenedor
{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid rgb(201, 11, 248);
    height: 300;
    flex-direction: row-reverse;
    justify-content: center;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

header
{
    padding: 50px;
    background-color: rgb(210, 0, 130);
    text-align: center;
}

nav
{    
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 143, 243);
}

nav a
{
    color: white;
    flex-direction: row;
    padding: 14px 20px;
    text-decoration: none;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

aside
{
    flex: 30%;
    background-color: rgb(210, 0, 160);
    padding: 20px;
}

section
{
    flex: 70%;
    background-color: rgb(210, 0, 190);
    padding: 20px;
}

footer
{
    padding: 20px;
    text-align: center;
    background-color: rgb(210 , 0, 220);
}

.contenedor div
{
    background-color: rgb(210, 0, 250);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;

}